@inherits LayoutComponentBase
<NavMenu/>

<div class="container">
    @Body
</div>

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            Wealho copyright bla bla bla
        </p>
    </div>
</footer>