<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">

        <a role="button" class="navbar-burger @BurgerCssClass" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" @onclick="ToggleBurgerMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu @MenuCssClass">
        <div class="navbar-start">
            <NavLink class="navbar-item" href="\" Match="NavLinkMatch.All">
                Home
            </NavLink>

            <NavLink class="navbar-item" href="counter">
                Counter
            </NavLink>

            <NavLink class="navbar-item" href="binding-directives">
                Binding Directives
            </NavLink>

            <NavLink class="navbar-item" href="fetchdata">
                Fetch data
            </NavLink>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light">
                        Log in
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>


@code {
    private bool showBurgerMenu = false;

    private string? BurgerCssClass => showBurgerMenu ? "is-active" : null;
    private string? MenuCssClass => showBurgerMenu ? "is-active" : null;

    private void ToggleBurgerMenu()
    {
        showBurgerMenu = !showBurgerMenu;
    }

}