@page "/counter"

<PageTitle>Counter</PageTitle>


<section class="section">
    <p>Current count: @currentCount</p>
    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
    <MyFirstComponent @bind-CurrentCounterValue="currentCount"/>
</section>

@code {
    int currentCount;

    void IncrementCount()
    {
        currentCount++;
    }

}